@charset "UTF-8";
/* CSS Document */

* {
	text-align: center;
	
}

.hs {
/*    animation: spin 1s linear infinite; */
	animation-name: spin;
	animation-duration: 1s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
	transform-origin: 50.4% 60.3% ;
	z-index: 2;
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

#finger {
	z-index: 1;
}

#box {
	width: 300px;
	margin:auto;
}

.scratch {
	transform: rotate( -10deg );
	transform-origin: bottom;
}